$primary-text-color: #F6F4F3;
$secondary-text-color: #212121;
$tertiary-text-color: #fafaff;
$black-text-color: #151515;
$accent-color: #F03A47;
$secondary-accent-color: rgb(214, 18, 18);
$main-bg-color: #F6F4F3;
$dark-bg-color: #151515;
$secondary-bg-color: #417B5A;
$icons-color: #F6F4F3;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$transform-duration: 250ms;